NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
NEXT_PUBLIC_BACKEND_URL=

# Supabase Storage Configuration
SUPABASE_BOOKS_BUCKET=oop
SUPABASE_BOOKS_PREFIX=books
SUPABASE_COVERS_PREFIX=cover_imgs